<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>PetShop Login</title>
</head>
<body>

    <h1>PetShop</h1>

    {% if error %}
        <p style="color:red;">
            {{ error }}
        </p>
    {% endif %}

    /login

        <label>Usuario</label>
        <br>

        <input
            type="text"
            name="username"
            required>

        <br><br>

        <label>Contraseña</label>
        <br>

        <input
            type="password"
            name="password"
            required>

        <br><br>

        <button type="submit">
            Iniciar Sesión
        </button>

    </form>

</body>
</html>